spring:
  elasticsearch:
    rest:
      uris: ${ES_URLS:localhost:9200}
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    ssl.enabled: ${RABBITMQ_USE_SSL:false}

camel:
  servlet:
    mapping:
      context-path: /api/*
  dataformat:
    jackson:
      # added when upgrade Camel to 3.20.5, otherwise the object mapper can not be found.
      # setting it to true with multiple object mappers can lead to unpredictable behaviors.
      auto-discover-object-mapper: true

server:
  port: 8088
  servlet:
    context-path: /integration

kc:
  realm: ${KC_REALM:}
  client:
    id: ${KC_CLIENT_ID:}
  server:
    url: ${KC_SERVER_URL:}
  username: ${KC_USERNAME:}
  password: ${KC_PASSWORD:}

service:
  concern:
    host: ${CONCERN_HOST:localhost}
    port: ${CONCERN_PORT:8087}
    url: http://${service.concern.host}:${service.concern.port}/concerns
  core:
    host: ${CORE_HOST:localhost}
    port: ${CORE_PORT:8091}
    url: http://${service.core.host}:${service.core.port}/revalidation
  profile:
    host: ${PROFILE_HOST:local.tis.com}
    port: ${PROFILE_PORT:}
    url: http://${service.profile.host}:${service.profile.port}/profile
  recommendation:
    host: ${RECOMMENDATION_HOST:localhost}
    port: ${RECOMMENDATION_PORT:8080}
    url: http://${service.recommendation.host}:${service.recommendation.port}/revalidation
  tcs:
    host: ${TCS_HOST:localhost}
    port: ${TCS_PORT:8085}
    url: http://${service.tcs.host}:${service.tcs.port}/tcs
  common-upload:
    host: ${COMMON_UPLOAD_HOST:localhost}
    port: ${COMMON_UPLOAD_PORT:8089}
    url: http://${service.common-upload.host}:${service.common-upload.port}/common-upload
  reference:
    host: ${REFERENCE_HOST:localhost}
    port: ${REFERENCE_PORT:8088}
    url: http://${service.reference.host}:${service.reference.port}/reference
  connection:
    host: ${CONNECTION_HOST:localhost}
    port: ${CONNECTION_PORT:8090}
    url: http://${service.connection.host}:${service.connection.port}/connection

app:
  admins:
    roles: ${RVADMIN_ROLE_NAMES:RevalApprover, RevalAdmin, RVOfficer}
  rabbit:
    reval:
      exchange: ${REVAL_RABBIT_EXCHANGE:reval.exchange}
      queue:
        recommendation.syncstart: ${REVAL_RABBIT_RECOMMENDATION_SYNC_START_QUEUE:reval.queue.recommendation.syncstart}
        connection.update: ${REVAL_RABBIT_QUEUE:reval.queue.connection.update}
        connection.syncstart: ${REVAL_RABBIT_SYNC_START_QUEUE:reval.queue.connection.syncstart}
        connection.syncdata: ${REVAL_RABBIT_SYNC_DATA_QUEUE:reval.queue.connection.syncdata}
        revalidationsummary.essync.integration: ${ESSYNC_GMC_DATA_QUEUE:reval.queue.revalidationsummary.essync.integration}
        connectionlog.essyncdata: ${CONNECTION_LOG_ESSYNCDATA_QUEUE:reval.queue.connectionlog.essyncdata.integration}
      routingKey:
        connection.update: ${REVAL_RABBIT_ROUTING_KEY:reval.connection.update}
        connection.syncstart: ${REVAL_RABBIT_SYNCSTART_ROUTING_KEY:reval.connection.syncstart}
        masterdoctorview.updated: ${REVAL_RABBIT_MASTERDOCTORVIEW_UPDATED_ROUTING_KEY:reval.masterdoctorview.updated}
        recommendation.syncstart: ${REVAL_RABBIT_RECOMMENDATION_SYNCSTART_ROUTING_KEY:reval.recommendation.syncstart}
        connection.syncdata: ${REVAL_RABBIT_SYNCDATA_ROUTING_KEY:reval.connection.syncdata}
        connectionlog.essyncstart: ${CONNECTION_LOG_ESSYNCSTART_ROUTING_KEY:reval.routingkey.connectionlog.essyncstart}

logging:
  level:
    root: INFO
    org.apache.camel: DEBUG
    uk.nhs.hee.tis.revalidation.integration: TRACE

sentry:
  dsn: ${SENTRY_DSN:}
  environment: ${SENTRY_ENVIRONMENT:}

cloud:
  aws:
    end-point:
      uri: ${SQS_SYNC_GMC_QUEUE:}
      cdc.doctor: ${SQS_CDC_DOCTOR_QUEUE:}
      cdc.recommendation: ${SQS_CDC_RECOMMENDATION_QUEUE:}
      cdc.connectionlog: ${SQS_CDC_CONNECTION_QUEUE:}

